# Ignore everything by default
*

# Do NOT ignore these specific files
!analysis/
!logs/
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomVmList.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/NetworkPowerModel.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/PowerModelStorageProbabilistic.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/PlacementStrategies.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/GenericVmAllocation.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/PowerModelRamDataSheetBased.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/MemoryBandwidthProvisioner.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/MemoryAccessEstimator.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/WorkloadAwareCloudlet.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/VmAllocationPolicyResilient
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomPowerDatacenterBroker.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomPowerHost.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomPowerHostEntry.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomPowerVm.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomPowerVmAllocationPolicyMigrationStaticThreshold.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/CustomPowerVmEntry.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/PeEntry.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/power/models/PowerModelLinearCelsiusV80AMDOpteron2218.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementation/PowerModelRamDynamic.java
!modules/cloudsim-examples/src/main/java/org/cloudbus/cloudsim/examples/Experiment.java
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/power/PowerDatacenter.java
!.gitignore

# Ensure the folder structure leading to these files is not ignored
!analysis/
!logs/
!modules/
!modules/cloudsim/
!modules/cloudsim/src/
!modules/cloudsim/src/main/
!modules/cloudsim/src/main/java/
!modules/cloudsim/src/main/java/org/
!modules/cloudsim/src/main/java/org/cloudbus/
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/custom_implementations/
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/power/
!modules/cloudsim/src/main/java/org/cloudbus/cloudsim/power/models/
!modules/cloudsim-examples/
!modules/cloudsim-examples/src/
!modules/cloudsim-examples/src/main/
!modules/cloudsim-examples/src/main/java/
!modules/cloudsim-examples/src/main/java/org/
!modules/cloudsim-examples/src/main/java/org/cloudbus/
!modules/cloudsim-examples/src/main/java/org/cloudbus/cloudsim/
!modules/cloudsim-examples/src/main/java/org/cloudbus/cloudsim/examples/
